body{
    background-color: #60450024;
    font-family: system-ui;
}
.ht{
    background-color: #1C1F25;
    padding-top: 30px;
    margin-bottom: 20px;

}
.scroll{
    padding-top: 9px;
    color:black;
    background-color: #e8bc0e90;
    /* height: 30px;     */
    margin-top: 0%;
    font-size: 16px;
    font-family:fantasy;
    align-content: center;
    
}
.navbar{
    margin-bottom: 130px;
    height: 10px;

}
.links{
    align-content: center;
    padding-left: 23%;
    word-spacing: 50px;
    /* margin-right: 270px; */
    padding-top: 20px;
    padding-bottom: 8px;
    margin-bottom: 10px;
    background-color: #0000001d;
    
}
.about{
    
    
    padding-top: 10px;
    padding-bottom: 10px;
    /* border-radius: 7px; */
    /* background-color: #757676; */
    color: white;
    border-width: 10px;
    border-color: yellowgreen;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: wavy;
    padding-left: 2px;
    margin-bottom: 10px;
   
}


.saksham{
    color: darkgray;
    font-size: medium;
   margin-top: 1px;
   margin-left: 50%;
   margin-bottom: 10px;
   background-color: #be1a1a;
   text-align: right;
   
 
 
}
.manjot{
    color: #453E3B;
    align-items: center;
    align-content: center;
    background-color: #e8bc0eb5;
    padding-top: 10px;
    margin-top: 60px;
    padding-bottom: 10px;
    
}
.name{
    color: red;
    margin-right: 0%;
    margin-left:32%;
    padding-bottom: auto;
    margin-bottom: 0%;
   
    font-size: 70px;
    /* margin-top: 10px; */
    /* margin-bottom: 180px; */
}
.com{
    color: white;
    size: 1px;
}

.button{
    color: whitesmoke;
    font-size: medium;
    border-radius: 5px;
    padding-bottom: 06px;
    background-color:darkred;
    border-color: whitesmoke;
    align-content: center;
    padding-top: 4px;
    opacity: .5;
    font-style: italic;

}
.button:hover{
    box-shadow: 10px 10px 30px black;
}
.about:hover{
    color: darkred;
  size: 100px;
}



.cart{
    border: 5px solid gray;
    margin:auto;
    margin-right: 20px;
    margin-top: 1px;
}
 
.container{
   margin-top: 0%;
    width: 1000px;
    margin: auto;
    margin-bottom: 10px;
 
   
}

.para{
    /* border: 1px solid gray; */
    /* border-radius: 10px; */
   
    /* padding-right: 10px; */
    margin-left: 0%;
    margin-left: 0%;
    word-spacing: 5px;
    
    margin-top: 20px;
    color: darkblue;
    font-family: sans-serif;
    font-style: italic;
    font-weight: 100;
    
    font-size: 16px;
    text-align: center;
    margin-bottom: 150px;
    /* background-color:hsla(0, 0%, 44%, 0.615); */
    /* opacity: 70%; */
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: center;
    
}
header .shopping img{
    width: 50px;
    /* padding-right: 1%;
    right: 40%; */
    margin-right: -5%;
}



header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: -5px;
    right: 45%;
    padding: 3px 10px;
    margin-bottom: 100px;
}
.yuraj{
    margin: -40px;
    padding-left: 54%;
}

.ab{
   
    justify-content: center;
    margin-top: 100px;
    color: gray;
    
    size: 20px;
}
.list{
    margin-top: 30%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
}
.list .item{
    text-align: center;
    background-color: #DCE0E1;
    padding: 40px;
    box-shadow: 0 10px 10px #757676;
    letter-spacing: 1px;
    border-radius: 10px;
}
.list .item:hover{
   box-shadow: 20px 20px 10px #757676;
}
.list .item img{
    width: 90%;
    height: 270px;
    object-fit: fill;
    border-radius: 7px;
    margin-bottom: 10px;
}
.list .item .title{
    font-weight: 600;
}
.list .item .price{
    margin: 10px;
    margin-bottom: 30px;
}
.list .item button{
    border-radius: 20px;
    background-color: #be1a1a;
    color: #fff;
    width: 80%;
    padding: 10px;

}
.list .item button:hover{
    cursor: pointer;
}
.card{
    position: fixed;
    top:0;
    left: 100%;
    width: 500px;
    background-color: #453E3B;
    height: 100vh;
    transition: 0.5s;
}
.list.item:hover{
    box-shadow: 20px 10px 10px black;
}
.active .card{
    left: calc(100% - 500px);
}
.active .container{
   transform: translateX(-200px);
}
.card h1{
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}
.card .checkOut{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}
.card .checkOut div{
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
}
.card .checkOut div:nth-child(2){
    background-color: #1C1F25;
    color: #fff;
}
.listCard li{
    display: grid;
    grid-template-columns: 100px repeat(3, 1fr);
    color: #fff;
    row-gap: 10px;
}
.listCard li div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.listCard li img{
    width: 90%;
}
.listCard li button{
    background-color: #fff5;
    border: none;
}
.listCard .count{
    margin: 0 10px;
}
.info{
    padding-top: 100px;
    color: hwb(13 41% 56%);
    font-size: small;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contacts{
    margin-left: -40px;
    margin-right: -60px;
    background-color: black;
    color: #757676;
    padding-bottom: 50px;
    margin-bottom: -600px;
    padding-top: 50px;
}
.back{
    color: grey;
    padding-left: 50%;
    font-size: 10px;
}
.back:hover{
    color: white;
    font-size: 13px;
}